* {
    padding: 0;
    margin: 0;
    // border: 1px solid black;
}

html, body {
    font-family: 'Montserrat';
    cursor: crosshair;
    height: 100%;
}

ul {
    list-style: none;
}

a {
    cursor: pointer;
    text-decoration: none;
}